# Postgres information
POSTGRES_USER=postgres
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=public

# Port to run the container 
PORT=3000

# The Database URL
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
